/* @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); */

:root {
    --cor1: #f7f7f7;
    --cor2: #1c8a4dc7;

    --fonte-inicio:'Averia Libre', cursive;
    --fonte-padrao: 'Quicksand', sans-serif;
}

header {
    position: static;
    padding: 30px;
    width: 1500px;
    margin: auto;
    background: blue;
    color: white;
    text-align: center;
}

h1 {
    font-family: var(--fonte-inicio);
    font-size: 2.0em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

h1:hover {
    color: yellow;
    font-size: 2.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}

h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.0em;
}
