@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --cor1: #423ADB;
    --cor2: #ffffff;

    --fonte-inicio:'Averia Libre', cursive;
    --fonte-padrao: 'Quicksand', sans-serif;
}

header {
  position: static;
  padding: 5px;
  width: 700px;
  margin: auto;
  background: var(--cor1);
  color: var(--cor2);
  text-align: center;
}

h1 {
  font-family: var(--fonte-inicio);
  font-size: 2.0em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

/* h1:hover {
  font-size: 2.2em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
} */

h2 {
  font-family: var(--fonte-inicio);
  font-size: 1.2em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
}

h2:hover {
  font-size: 1.3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.479);
}
