@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --cor1: #423ADB;
  --cor2: #FF6A2B;

  --fonte-inicio:'Averia Libre', cursive;
  --fonte-padrao: 'Quicksand', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

iframe{
  position: static;
  width: 800px;
  height: 200px;
  border: none;
}

table {
  /* margin:auto; */
  text-align: center;
  font-family: var(--fonte-padrao);
  font-size: 0.8em;

}

h1, h2 {
  text-align: center;
  font-family: var(--fonte-padrao);
}

h1 {
  font-size: 1.5em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.164);
  color: var(--cor2);
}

h2 {
  font-size: 1.1em;
}

h3 {
  text-align: justify;
  font-size: 1em;
  font-family: var(--fonte-padrao);
}

select {
  display: flex;
  justify-content: flex-start;
}

input, label, select, p {
  display: flex;
  text-align: justify;
  font-family: var(--fonte-padrao);
  font-size: 0.8em;
  margin: 5px;
}

input, select {
  border-radius: 5px;
  width: 15em;
  height: 2em;
}

.input-mais-menos {
  width: 30px;
  height: 30px;
}
