button {
  text-align: center;
  border-radius: 30px;
  margin: 5px;
  padding: 7px;
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 0.8em;
  background-color: black;
}

.bt-container-card {
    display: flex;
    justify-content: space-between;
}

.bt-cadastrar {
    background-image: linear-gradient(to right, #0000ff,  #000094);
}
    
.bt-salvar {
    background-image: linear-gradient(to right, #04e23c,  #038f26);
}

.bt-voltar {
    background-image: linear-gradient(to right, #808080,  #5c5c5c);
}

.bt-chat {
    background-image: linear-gradient(to right, #ffa500,  #d88d02);
}

.bt-deletar {
    background-image: linear-gradient(to right, #ff0000,  #990101);
}

.bt-editar {
    background-image: linear-gradient(to right, #ffff00,  #a5a501);
}

.bt-sair {
    
}
