@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --cor1: #032CA6;
  --cor2: #304f8c31;
  --cor3: #8C824D;
  --cor4: #F2B90F;
  --cor5: #8C6B08;

  --fonte-inicio:'Averia Libre', cursive;
  --fonte-padrao: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--cor2);
}

h1, h2 {
    text-align: center;
}
  
.cadastro h1 {
    font-size: 2em;
    text-shadow: 2px 2px 0px #0000002a;
    color: var(--cor1);
    padding: 10px;
    font-family: var(--fonte-inicio);
}
  
.cadastro h2 {
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    padding-bottom: 5px;
    color: var(--cor6);
    text-align: center;
}

input, label {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    padding-left: 10px;
}

.input-texto {
    font-size: 0.8em;
    border-radius: 5px;
    height: 2em;
    margin: 10px;
    width: 100%;
}

#input-texto {
    font-size: 0.8em;
    border-radius: 5px;
    height: 2em;
    margin: 10px;
    width: 100%;
}

.centralizado-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#email1 {
    width: 53px;
    padding: 0px;
}

#data-nascimento {
    width: 161px;
    padding: 0px;
}