input[type=text] {
    width: 50%;
}

input[type=email] {
    width: 50%;
}

input[type=tel] {
    width: 50%;
}

input[type=password] {
    width: 50%;
}


.form {
    box-sizing: border-box;
    margin-left: 30%;
}