@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Expletus+Sans&family=PT+Sans&family=Quicksand:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --cor1: #032CA6;
  --cor2: #304F8C;
  --cor3: #8C824D;
  --cor4: #F2B90F;
  --cor5: #8C6B08;

  --fonte-inicio:'Averia Libre', cursive;
  --fonte-padrao: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}



.semdecoracao {
    text-decoration: none;
}

.planodefundo {
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    flex-direction: column;
    height: 100%;
    margin:0%;
    text-align: justify;
    font-family: var(--fonte-padrao);
}



.imagem_fundo {
    background-image: url(".././img/EduConnectOriginal.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    
}



.color {
    color: whitesmoke;
}

.centro {
    text-align: center;
    padding-top: 10px;
}



.letrahome {
    margin-top: 100px;
}

main {
    padding-top: 20px;
    height: 100%;
    background-color:  #f7f7f7; 
}

main nav {
    background-color: rgba(93, 107, 231);
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
}

main nav a {
    text-decoration: none;
    color: #f7f7f7;
}

.loginEntrar {
    flex-direction: column;
    align-content: space-between;
    justify-self: center;
    margin-top: 10%;

}

main nav div {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;

}

aside {  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
}

aside div {
 
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    
}

aside span section{
    max-width: 1200px;
	margin: 0 auto;
	display: flex;
    justify-content: space-around;

}




.texto {
    line-height: 1.6;
    font-size: 16px;
    margin: 15px;
    text-indent: 40px;
    text-align: justify;
}

.container {
	margin: 0 auto;
	display: flex;

}

.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
    background-color: rgba(93, 107, 231);
}

.row {
	flex-direction: row;
}

.edu {
    padding-left: 10%;
    margin: -0.5em
}

.nav {
    padding-left: 45%;
    margin-top: 0.5%;
}

.nav nav p {
    word-spacing: 2em;
    font-family: var(--fonte-inicio);
    color: rgb(255, 235, 108);

}

.nav nav p a {
    font-size: 1.2em;
    color: rgb(250, 220, 25);
    text-shadow: -1px -1px 1px #000000;
}

.nav nav p a:hover {
    text-shadow: 1px 1px 1px #000000;
}

.edu img {
    max-width: 3.7rem;
    margin-top: 0.9rem;
    margin-left: 6rem;
    border-radius: 5%;
}